$base-color: #333e63;
$secondry-color:#5f6be7;
$white-color:#fff;
$lightlink-text:#55acee;
$light-text:#676767;
$light-small:#999999;
$yellow-btn:#f4c20a;
$base-font:'Sarala', sans-serif;
$secondry-font:'Abril Fatface', cursive;
$opensans-font: 'Open Sans', sans-serif;